/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorialCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tutorialCard {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #007acc; /* Add a blue border */
  cursor: pointer; /* Change the cursor to a pointer */
}

.tutorialCard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-color: #005999; /* Darken the border color on hover */
}
.cardContent {
  color: #333;
}

.readMore {
  color: #007acc;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #007acc;
  display: inline-block;
  margin-top: 10px;
}

.readMore:hover {
  color: #fff;
  background-color: #007acc;
}